{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tbdetcontratorif creation</h1>
        {{ form(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('Contratos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
    
