{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Creación de Contrato </h1>
    <br><br>
        {{ form(form) }}
    <br><br>
        <ul class="record_actions">
            
    <li>
        <a href="{{ path('Contratos') }}">
            Lista de Contratos
        </a>
    </li>
</ul>
{% endblock %}
    
