{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Creación de Contrato </h1>
    <br><br>
        {{ form(form) }}
        <ul class="record_actions">
            <br><br>
    <li>
        <a href="{{ path('Contratos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
    
