{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="title">Acceso Restringido.</h1>
    <h2 class="title">Lo sentimos pero usted no puede acceder a este recurso.
    Usted es un usuario anónimo o posee un rol que no le permite ingresar a esta página.</h2>
    
{% endblock %}

