{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="title">Bienvenido al Sistema TechtrolService.</h1>
    {% if app.session.get('tipo_rol')==null %}
    <p>
       Autogestión de Requerimientos, Solicitudes, Control de Pagos y otros.<em></em> 
    </p>
    {% else %}
    <p>
        Si hay session
      {{app.session.get('tipo_rol')}}
    </p>
    {% endif %}
    
       
    {% if app.session.get('usuario_estatus_registro')=="Solicitud de Registro" %}
    <h2 class="title">Acceso Restringido Temporal.</h2> 
    
    <p>Por ahora no podrá realizar algunas funciones 
        en el sistema, debe esperar el correo de confirmacion de Registro para 
       que se muestren las opciones que puede usar como cliente de techtrol, muchas gracias.</p>
    {% endif %}
    <br><br><br><br><br><br>
{% endblock %}

