{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="title">Ingrese</h1>
    {% if error %}
    <div class="error">{{ error.message | replace({
        "Bad credentials": "Error:  Inválido Usuario o Contraseña."})}}</div>
{% endif %}

    <p>
        Introduzca su cédula y contraseña para acceder.  <strong><em>(Ejemplo: 18915768/kLoMuW)</em></strong> 
    </p>
   
    <form action="{{ path('login_check') }}" method="post" id="login">
        <table>
            <td>
           <label for="username">Cédula:</label></td>
            <td><input type="text" id="username" name="_username" value="{{ last_username }}" required /></td>
        </table>

        <table>
            <td>
            <label for="password">Contraseña:</label></td><td>
            <input type="password" id="password" name="_password" required/></td>
        </table>
        <table>
        <br>
        
        <li><a href="{{ path('forgotpass') }}">¿Olvidó su Contraseña?</a></li>  
        </table>
        <div align="right">
             <br>
                    <p class="submit">   
                        <input type="submit" name="commit" value="Ingresar">
                
        </div>
    </form>
{% endblock %}


