{% extends 'layout.html.twig' %}

{% block content %}
<div class="container" >
    <h1 class="title">Ingrese</h1>
    <section class="register">    
 <h1>
        Introduzca su cédula y contraseña para acceder.  <strong><em>(Ejemplo: 18915768/kLoMuW)</em></strong> 
    </h1>
            
    {% if error %}
    <div class="error">{{ error.message | replace({
        "Bad credentials": "Error:  Inválido Usuario o Contraseña."})}}</div>
{% endif %}
   <br>
    <form action="{{ path('login_check') }}" method="post" id="login">
        <table>
            <td width='100'></td>
            <td width='100'>
           <label for="username">Cédula:</label></td>
            <td><input type="text" id="username" name="_username" value="{{ last_username }}" required /></td>
        </table>

        <table >
            <td width='100'></td>
            <td width='100'>
            <label for="password">Contraseña:</label></td><td>
            <input type="password" id="password" name="_password" required/></td>
        </table>
        <table>
        
        
        <td width='100'></td>
        <td width='200'>
        <a href="{{ path('forgotpass') }}"><h4>¿Olvidó su Contraseña?</h4></a>
        </td>
        </table>
        <div align="right">
             
                    <p class="submit">   
                        <input type="submit" name="commit" value="Ingresar">
                
        </div>
    </form>
    </section>
</div>
{% endblock %}


