{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="title">Ingrese</h1>

    <p>
        Introduzca su cédula y contraseña para acceder.  <em>(Ejemplo: 18915768/kLoMuW)</em> 
    </p>

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" id="login">
        <div>
            <label for="username">Cédula:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="_password" />
        </div>
        <br>
        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Login</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}


