
<!DOCTYPE html>
<html>
    <head>
        <title>Techtrol</title>
        <link href="/bundles/framework/css/structure.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/framework/css/body.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/techt/css/style.css" rel="stylesheet" type="text/css" media="screen" />
     
            <link rel="stylesheet" href="/bundles/acmedemo/css/demo.css" />
    
    </head>
    <body>

        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                    
                </div>
                           <div class="sf-reset">
                	<div class="wrap">
	<div class="clearfix"></div>
	
	</div>
 
 
                    <br><br>
         
        <div style="clear: both"></div>
    
    <div class="block">
            <h1 class="title">Confirmación de Registro Techtrol.</h1>
 
       <p> Hola, <strong>{{ entity.vnombre }}</strong>, esperamos que tengas un buen dia.
           <br><br>Tu solicitud de Registro fue revisada y aprobada por Techtrol. <em></em> <br>
           
       <br><h1>Para acceder a tu cuenta </h1><br>
      Debes ingresar con tu usuario y contraseña. <br>
      Tus funciones dentro del Sistema son las siguientes: <br>
        {% for funcion in funciones  %}
                <p>{{ funcion.fkIidFuncion.vdescripcion }}</p>
      
            {% endfor %}
      
      </div>
        </div>
                </div>
            </div>
</body>
</html>
