
<!DOCTYPE html>
<html>
    <head>
        <title>Techtrol</title>
        <link href="/bundles/framework/css/structure.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/framework/css/body.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/techt/css/style.css" rel="stylesheet" type="text/css" media="screen" />
     
            <link rel="stylesheet" href="/bundles/acmedemo/css/demo.css" />
    
    </head>
    <body>

        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                    
                </div>
                           <div class="sf-reset">
                	<div class="wrap">
	<div class="clearfix"></div>
	
	</div>
 
 
                    <br><br>
         
        <div style="clear: both"></div>
    
    <div class="block">
            <h1 class="title">Restablecimiento de Contraseña Techtrol.</h1>
 
       <p> Hola, <strong>{{ vnombre }}</strong>, esperamos que tengas un buen dia.
           <br><br>Realizaste la solicitud de restablecimiento de contraseña <em></em> <br>
      <br>
       Tus Datos de Acceso al Sistema son los siguientes:<br><br>
      Usuario: <strong><em> {{ pkIci }}</em></strong> <br>
      Contraseña: <strong><em> {{ pass }}</em></strong><br>
       </p>
        </div>

            </div>
        </div>
            </div>
    

</body>
</html>
