{% extends 'layout.html.twig' %}

{% block content %}
  <h1 class="title">Restablecimiento de Contraseña</h1>
 
{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br>
{% endfor %}
 
 
{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_success') %}
<div class="isa_success">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


   
<br>
    <p>
 
    </p>
   
{% endblock %}


