{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Técnico </h1>

  <div class="container" >

    <section class="register">
    <table class="record_properties">
        <tbody>      
            <tr>
            <td width="140">Alias: </td>  
                <td>{{ entity.valias }}</td>
            </tr>
            <tr>
            <td width="140">Usuario Asociado: </td>  
                <td>{{ entity.fkIidUsuadatostecn}}</td>
            </tr>
                
            
            
        </tbody>
    </table>
</section>
            </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('Tecnico') }}">
         <h4>   Volver Listado de Tecnicos<h4>
        </a>
    </li>
       <li>
        <a href="{{ path('Tecnico_delete', { 'id': entity.id }) }}">
            <h4>Eliminar</h4>
        </a>
    </li>
</ul>
{% endblock %}
