{% extends '::layout.html.twig' %}

{% block content -%}
    <h1><strong>Listado de Empresas</strong></h1>
      <div class="container" >

    <section class="register">
<br><br>
    <table class="records_list">
        <thead>
            <tr>
                
            <td height="30"><strong>Rif</strong></td>
            <td width="40"></td>
                <td><strong>Dirección Fiscal</strong></td>
                <td width="40"></td>
                <td><strong>Acciones</strong></td>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.pkIrif }}</td>
                <td width="40"></td>
                <td>{{ entity.vdireccionFiscal }}</td>
                <td width="40"></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Empresa_edit', { 'id': entity.id }) }}">Ver/Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
          </div>
<br><br>
        <ul>
        <li>
            <a href="{{ path('Empresa_new') }}">
                Crear nueva Empresa
            </a>
        </li>
    </ul>
    {% endblock %}
