{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Editar Estatus Asociados a Usuarios</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('RegistroEstatus') }}">
            Volver a Lista de Estatus Asociados
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
