{% extends '::layout.html.twig' %}

{% block content %}

    <h1>Editar Rol</h1>
<br><br>
    {{ form(edit_form) }}
<br><br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('Roles') }}">
            Lista de Roles
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
