{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Creacion de Rol</h1>
<br><br>
    {{ form(form) }}
<br><br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('Roles') }}">
            Lista de Roles
        </a>
    </li>
</ul>
{% endblock %}
