{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Editar contrato</h1>
<br><br>
    {{ form(edit_form) }}
<br><br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('UsuariosContratos') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
