{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Lista de Contratos Asociados</h1>
<div class="container" >
<section class="register">
    <table class="records_list">
        <thead>
               <tr>
                <td align="center"  width="80"><h4 ><strong>Nro-Contrato</strong></h4></td>
                <td width="60"><td>
                <td align="center"  width="80"><h4 ><strong>Nro-Rif</strong></h4></td>
                <td width="60"><td>
                <td align="center"  width="80"><h4 ><strong>Dirección Fiscal</strong></h4></td>
                
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
              <tr>
               
                <td align="center" >{{ entity.fkInroContrato.pkInroContrato }}</td>
                <td width="60"><td>
                <td align="center" >{{ entity.fkInroContrato.fkIrif }}</td>
                <td width="60"><td></td>
                <td align="center" >{{ entity.fkInroContrato.fkIrif.vdireccionFiscal }}</td>
                <td width="60"><td></td>
                <td>
                
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
<br>
</section>
        </div>
    <br>
    {% if((app.session.get('usuario_rol')=="Empleado") or
        (app.session.get('usuario_rol')=="Administrador"))%}
        <ul>
        <li>
            <a href="{{ path('Contratos_new') }}">
                <h4>Crear Nuevo Contrato</h4>
            </a>
        </li>
    </ul>
    {%endif%}
   {% endblock %}
