{% extends '::layout.html.twig' %}

{% block content %}
<h1><strong>Listado de Funciones</strong></h1>
<br>
    <table class="records_list">
        <thead>
            <tr>
                
            <td width="200" height="40"><strong>Descripción</strong></td>
            
                <td><strong>Acciones</strong></td>
            </tr>
            
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.vdescripcion }}</td>
                <td>
                <ul>
         
                    <li>
                        <a href="{{ path('Funciones_edit', { 'id': entity.id }) }}">Ver/Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
        <ul>
        <li>
            <a href="{{ path('Funciones_new') }}">
                Crear nueva Función
            </a>
        </li>
    </ul>
    {% endblock %}
