{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Función</h1>
<br>
    <table class="record_properties">
        <tbody>
            <tr>
            <td height="40">Descripción: </td>
            <td width="20"></td>
                <td>{{ entity.vdescripcion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Funciones') }}">
            Volver a la Lista de Funciones
        </a>
    </li>
    <li>
        <a href="{{ path('Funciones_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
