
<!DOCTYPE html>
<html>
    <head>
        <title>Techtrol</title>
        <link href="/bundles/framework/css/structure.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/framework/css/body.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/techt/css/style.css" rel="stylesheet" type="text/css" media="screen" />
     
            <link rel="stylesheet" href="/bundles/acmedemo/css/demo.css" />
    
    </head>
    <body>

        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                    
                </div>
                           <div class="sf-reset">
                	<div class="wrap">
	<div class="clearfix"></div>
	
	</div>
 
 
                    <br><br>
         
        <div style="clear: both"></div>
    
    <div class="block">
            <h1 class="title">Cliente Contáctanos de Página Web.</h1>
 
            <p> Para Departamento: <strong>{{ entity.vdepartamento }}</strong>
           <br><br>Usuario: <strong>{{ entity.vnombreCompleto }}</strong> 
           <br><br>Correo: <strong>{{ entity.vcorreoEmail }} </strong>
           <br><br> Mensaje: <strong>{{ entity.vmensaje }}.</strong> <em></em> <br>
      <br>
   

        </div>

            </div>
        </div>
            </div>
    

</body>
</html>
