.isa_info, .isa_success, .isa_warning, .isa_error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;-moz-border-radius:.5em;
-webkit-border-radius:.5em;
border-radius:.5em;

}
.isa_info{
    color: #00529B;
    width: 750px;
    background-color: #D5F1FF;
    background-image: url('../images/info.png');
}
.isa_success {
    color: #4F8A10;
    
    width: 750px;
    background-color: #DBF8AA;
    background-image:url('../images/success.png');
}
.isa_warning {
    color: #9F6000;
    
    width: 750px;
    background-color: #FCE99E;
    background-image: url('../images/warning.png');
}
.isa_error {
    color: #D8000C;
    
    width: 750px;
    background-color: #FFCDCD;
    background-image: url('../images/error.png');
}
