/*  Author : iMomen
    Website: www.iMomen.com
    E-mail : Coder@iMomen.com
*/

div.error {
 
  margin: 0;
  /* padding: 0; */
  border: 0;
  font-size: 15px;
  color: #B61212;
  /* font-weight: bold; */
  /* alignment-baseline: central; */
  font-family: 'Open Sans Condensed', sans-serif;
 
}
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  /* color: #3a6f8f; */
  font-weight: 500;
  alignment-baseline: central;
  font-family: serif;
  font: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0px;
  border: 0;
  /* font-size: 17px; */
  /* color: #4483AE; */
  /* font-weight: 400; */
  alignment-baseline: central;
  font-family: 'Open Sans Condensed', sans-serif;
}
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  color: #333333;
  /* font-weight: 600; */
  /* alignment-baseline: central; */
}

html, td,em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
  /* font: inherit; */
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 100;
  alignment-baseline: central;
  padding-top: 0px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* font-weight: normal; */
  /* color: rgb(68, 68, 68); */
  /* align-content: space-between; */
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Page */
body {
  background: #FFFF;
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  color: #0A4A68;
  /* text-decoration: none; */
  /* font-weight: 600; */
}
a:hover {
    color: black;
  text-decoration: underline;
  
}

.container {
  width: 770px;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* Form */
.popup_container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.reg_section {
  padding:0;
  margin: 10px 0;
  border-bottom: 1px dotted #E9EDF6;
}
.reg_section h3 {
  font-size: 13px;
  margin: 5px 0;
  color: #098292;
}
/* Form */
.popup {
  width: 400px;
  position: relative;
  margin-top: 0px;
  padding: 20px 20px 20px;
  background: #FCFCFC;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(190, 182, 182, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.popup:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(207, 255, 255, 0.08);
  border-radius:7px;
  -webkit-border-radius: 7px;
}
.popup h1 {
  margin: -20px -20px 0;
  line-height: 40px;
  font-size: 14px;
  /* font-weight: bold; */
  color: #1781B3;
  text-align: center;
  border-bottom:1px solid #EDEDED;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px #f5f5f5;
  -moz-box-shadow: 0 1px #f5f5f5;
  box-shadow: 0 1px #f5f5f5;
  font-family: "Open Sans light",sans-serif;
}

.popup input[type=text], .popup input[type=password] ,.popup select,.popup textarea {
  width: 140px;
}
.popup input[type=number], .popup input[type=password] ,.popup select,.popup textarea {
  width: 140px;
}
.popup p.terms {
  float: left;
  line-height: 32px;
}
.popup p.terms label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.popup p.terms input {
  position: right;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.popup p.submit {
  text-align: right;
}
.ui-dialog-titlebar-close{
         visibility:hidden;
     };
.popup p.reset {
  text-align: right;
}
.popup-help {
  margin: 20px 0;
  font-size: 11px;
  text-align: center;
 
  color:#FFFFFF;
}
.popup-help a {
  color:#FF3679;
  text-shadow:0 1px #1E0E13;
}
/* Form */
.register {
  width: 960px;
  position: relative;
  margin-top: 20px;
  padding: 20px 20px 20px;
  background: #EEEEEE;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2000px rgba(243, 232, 232, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 0 200px rgba(190, 182, 182, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3); */
}
.register:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(207, 255, 255, 0.08);
  border-radius:7px;
  -webkit-border-radius: 7px;
}
.register h1 {
  margin: -20px -20px 0;
  line-height: 40px;
  font-size: 24px;
  font-weight: 500;
  /* color: black; */
  /* font-weight: bold; */
  color: #3a6f8f;
  text-align: center;
  border-bottom:1px solid #EDEDED;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px #f5f5f5;
  -moz-box-shadow: 0 1px #f5f5f5;
  box-shadow: 0 1px #f5f5f5;
  font-family: 'Open Sans Condensed', sans-serif;
}

.register input[type=text],.register input[type=email],  .register input[type=password], .register select, .register textarea {
  width: 140px;
  /* display: inline-block; */ 
  /* height: 27px; */ 
  /* padding: 4px 6px; */ 
  /* margin-bottom: 10px; */ 
  /* font-size: 14px; */ 
  /* line-height: 20px; */ 
  /* color: #555555; */ 
  /* vertical-align: middle; */ 
  /* -webkit-border-radius: 4px; */ -moz-border-radius: 4px; 
  /* border-radius: 4px; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.register input[type=number], .register input[type=password] ,.register select,.register textarea {
  width: 140px;
}
.register p.terms {
  float: left;
  line-height: 32px;
}
.register p.terms label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.register p.terms input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.register p.submit {
  text-align: right;
}
.register p.reset {
  text-align: right;
}
.register-help {
  margin: 20px 0;
  font-size: 11px;
  text-align: center;
 
  color:#FFFFFF;
}
.register-help a {
  color:#FF3679;
  text-shadow:0 1px #1E0E13;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #636172;
  font-size: 13px;
}

input {
  font-family:"Trebuchet MS",tahoma;
  font-size: 13px;
}

input[type=text], input[type=number], input[type=date],input[type=password] ,.register select,.register textarea {
  margin: 5px;
  padding: 0 10px;
  height: 26px;
  width: 140px;
  color: #606481;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #C4C4C4 #d1d1d1 #d4d4d4;
  border-radius:3px;
  -webkit-border-radius: 5px;
  outline:3px solid rgba(200, 105, 137, 0.09);
  -moz-outline-radius:7px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  margin:10px 0;
  /* padding: 2px 10px; */
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
  border-color:#FFF7F9;
  outline-color:rgba(254, 225, 235, 0.7);
  outline-offset: 0;
}

input[type=submit],input[type=reset] {
  padding: 0 40px;
  height: 29px;
  font-size: 12px;
  font-weight: 900;
  color: #FFFFFF;
  text-shadow: 0 1px #40647a;
  border-width: 1px;
  border-style: solid;
  
  border-radius: 5px 5px 5px 5px;
  /* outline: none; */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #40647a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40647a), color-stop(100%, #40647a));
  background-image: -webkit-linear-gradient(top, #40647a, #40647a);
  background-image: -moz-linear-gradient(center top , rgba(44, 161, 207, 1), rgba(8, 11, 17, 1));
  background-image: -ms-linear-gradient(top, #40647a, #40647a);
  background-image: -o-linear-gradient(top, #40647a, #40647a);
  -webkit-box-shadow: 0 1px #40647a inset, 0 1px 2px #40647a;
  /* -webkit-box-shadow: 0 1px #40647a inset, 0 1px 2px #40647a; */
  /* box-shadow: 0 1px #40647a inset, 0 1px 2px #40647a; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type=submit]:active, [type=reset]:active{
  background: #11274D;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
input[type="select"]:disabled
{
background: #11274D;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password], .lt-ie9 input[type=number] {
  line-height: 34px;
}
.register select {
  padding: 2px 10px;
  width: 140px;
  color: #5F615A;
  font-size: 13px;
  /* font-family: inherit; */
}
.register select:disabled {
  padding: 2px 10px;
  width: 140px;
  color: #dddd;
  background: #ddd;
}

.register textarea {
  height: 50px;
  padding: 10px;
  color: #1E2C58;
}

/* About */
.about {
  margin:10px auto;
  width: 300px;
  text-align: center;
  color: #A5BFEE;
  font-size: 12px;
}
.about a {
  padding: 1px 3px;
  margin: 0 -1px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.about a:hover {
  color: #09292F;
  text-shadow: none;
  background: #36E8E1;
}

.links {
  zoom: 1;
}
.links:before, .links:after {
  content: "";
  display: table;
}
.links:after {
  clear: both;
}
.links a {
  padding: 6px 0;
  float: left;
  width: 50%;
  font-size: 14px;
}

.ec-stars-wrapper {
    
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   https://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 1.2rem;
	
	color: #D8BF08;
}

.ec-stars-wrapper:hover a {
	color: #D8BF08;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}
